<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/foto-gua.JPG" alt="Davina" class="img-thumbnail
            square" width="200">
            <h1 class="display-4">Davina callysta</h1>
            <p class="lead">Student | Female</p>
        </div>
    </div>
</div>



